
@{
    ViewBag.Title = "ProductSetup";
}

<script src="~/Apps/JScontrollers/Setup/productSetupController.js"></script>
<script src="~/Apps/JSservices/Setup/productSetupService.js"></script>

<style>
    .float-right {
        float: right;
    }

    .float-left {
        float: left;
    }
</style>
<h2>ProductSetup</h2>


<div class="row" ng-app="EcommerceBD" ng-controller="productSetupController">
    <div class="col-md-12">
        <div class="col-md-2">
            <label class="float-right">Product Name :</label>
        </div>
        <div class="col-md-2">
            <input id="txtProductName" class="form-control float-left" />
        </div>
        <div class="col-md-2">
            <label class="float-right">Category :</label>
        </div>
        <div class="col-md-2">
            <div class="ng-cloak">
                <ui-select ng-model="obj.A.selected" theme="select2" append-to-body="true" style="min-width: 245px">
                    <ui-select-match placeholder="Select">{{$select.selected.Category_Name}}</ui-select-match>
                    <ui-select-choices repeat="A in obj.ambulance | propsFilter: {Category_Name: $select.search}">
                        <div ng-bind-html="A.Category_Name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
                <input type="text" id="ddlIAmbCapaCode" ng-model="obj.Category_Id" ng-bind="obj.Category_Id = obj.A.selected.Category_Id" />
            </div>
        </div>
        <div class="col-md-2">
            <label class="float-right">Brand :</label>
        </div>
        <div class="col-md-2">
            <div class="ng-cloak">
                <ui-select ng-model="obj.B.selected" theme="select2" append-to-body="true" style="min-width: 245px">
                    <ui-select-match placeholder="Select">{{$select.selected.Category_Name}}</ui-select-match>
                    <ui-select-choices repeat="B in obj.ambulance | propsFilter: {Category_Name: $select.search}">
                        <div ng-bind-html="B.Category_Name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
                <input type="text" id="ddlIAmbCapaCode" ng-model="obj.Category_Id" ng-bind="obj.Category_Id = obj.B.selected.Category_Id" />
            </div>
        </div>
    </div>
</div>


