
@{
    ViewBag.Title = "ProductSetup";
}
<style>
    .float-right {
        float: right;
    }

    .float-left {
        float: left;
    }
</style>
<h2>ProductSetup</h2>


    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2">
                <label class="float-right">Product Name :</label>
            </div>
            <div class="col-md-2">
                <input id="txtProductName" class="form-control float-left" />
            </div>
            <div class="col-md-2">
                <label class="float-right">Category :</label>
            </div>
            <div class="col-md-2">
                <div class="">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                        Select Category
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Mobile</a></li>
                        <li><a href="#">Television</a></li>
                        <li><a href="#">Fridge</a></li>
                        <li><a href="#">Motorcycle</a></li>
                        <li><a href="#">Desktop</a></li>
                        <li><a href="#">Laptop</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <label class="float-right">Brand :</label>
            </div>
            <div class="col-md-2">
                <div class="">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                        Select Brand
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Nokia</a></li>
                        <li><a href="#">Xiomi</a></li>
                        <li><a href="#">Oppo</a></li>
                        <li><a href="#">Samsung</a></li>
                        <li><a href="#">Ducatti</a></li>
                        <li><a href="#">Yamaha</a></li>
                        <li><a href="#">Suzuki</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


