
@{
    ViewBag.Title = "HomePage";
}

<script src="~/Apps/JScontrollers/homeController.js"></script>
<script src="~/Apps/JSservices/homeService.js"></script>
<style>
    .imghresize {
        padding: 10%;
        height: 200px !important;
        background-color: transparent;
    }

    .divhresize {
        height: 50vh;
        background-color: transparent;
    }

    .imghresize:hover {
        -ms-transform: scale(1.3); /* IE 9 */
        -webkit-transform: scale(1.3); /* Safari 3-8 */
        transform: scale(1.3);
    }
</style>
<div ng-app="EcommerceBD" ng-controller="homeController">

    <h3>Electronics</h3>
    @*<table class="table table-bordered">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Brand</th>
                    <th>Category</th>
                    <th>Picture</th>
                </tr>
            </thead>
            <tr ng-repeat="m in obj.homeData">

                <td>{{m.Product_Name}}</td>
                <td>{{m.Brand_Name}}</td>
                <td>{{m.Category_Name}}</td>
                <td><img class="imghresize" ng-src="~/images/{{m.Picture}}" alt="{{m.Picture}}"></td>
            </tr>
        </table>*@
    <div class="col-md-3 thumbnail divhresize" ng-repeat="m in obj.homeData">
        <img class="imghresize" ng-src="~/images/{{m.Picture}}" alt="{{m.Picture}}">
        <br />
        <p>{{m.Product_Name}}</p>
        <p><b>Price&nbsp;:</b>&nbsp;{{m.Price}}&#2547</p>
    </div>

</div>