@{
    ViewBag.Title = "Home Page";
}
<style>
    .hresize
    {
        height:200px;
    }
</style>


<div class="row">

    <div class="col-md-3 thumbnail">
        <img src="~/images/Xiaomi-Redmi-Note-8-Black.jpg" alt="Xiaomi-Redmi-Note-8-Black" >
    </div>
    <div class="col-md-3 thumbnail ">
        <img src="~/images/Samsung Galaxy A50.jpg" alt="Samsung Galaxy A50" >
    </div>
    <div class="col-md-3 thumbnail ">
        <img src="~/images/Nokia-6.1-Plus.jpg" alt="Nokia-6.1-Plus" >
    </div>
    <div class="col-md-3 thumbnail ">
        <img src="~/images/motorola-moto-g8-plus.jpg" alt="Nokia-6.1-Plus" >
    </div>
</div>
