@{
    ViewBag.Title = "Home Page";
}
<style>
    .imghresize
    {
        height:200px !important;
    }
    .divhresize{
        height:210px;
    }
</style>


<div class="row">

    <div class="col-md-3 thumbnail divhresize">
        <img class="imghresize" src="~/images/Xiaomi-Redmi-Note-8-Black.jpg" alt="Xiaomi-Redmi-Note-8-Black" >
    </div>
    <div class="col-md-3 thumbnail divhresize">
        <img class="imghresize" src="~/images/Samsung Galaxy A50.jpg" alt="Samsung Galaxy A50" >
    </div>
    <div class="col-md-3 thumbnail divhresize">
        <img class="imghresize" src="~/images/Nokia-6.1-Plus.jpg" alt="Nokia-6.1-Plus" >
    </div>
    <div class="col-md-3 thumbnail divhresize">
        <img class="imghresize" src="~/images/motorola-moto-g8-plus.jpg" alt="Nokia-6.1-Plus" >
    </div>
</div>
