@{
    ViewBag.Title = "Home Page";
}
<style>
    .imghresize {
        padding:10%;
        height: 200px !important;
        background-color:transparent;
        
        
    }

    .divhresize {
        height: 300px;
        background-color: transparent;
    }

    .imghresize:hover {
        -ms-transform: scale(1.3); /* IE 9 */
        -webkit-transform: scale(1.3); /* Safari 3-8 */
        transform: scale(1.3);
        
    }
</style>
@*<script src="~/Apps/JScontrollers/homeController.js"></script>
<script src="~/Apps/JSservices/homeService.js"></script>*@
<div class="row" ng-app="EcommerceBD" ng-controller="">

    <div class="col-md-3 thumbnail divhresize">
        <img class="imghresize" src="~/images/Xiaomi-Redmi-Note-8-Black.jpg" alt="Xiaomi-Redmi-Note-8-Black">
        <br />
        <br />
        <p>$99.99</p>
    </div>
    <div class="col-md-3 thumbnail divhresize">
        <img class="imghresize" src="~/images/Samsung Galaxy A50.jpg" alt="Samsung Galaxy A50">
        <p></p>
        <p>$199.10</p>
    </div>
    <div class="col-md-3 thumbnail divhresize">
        <img class="imghresize" src="~/images/Nokia-6.1-Plus.jpg" alt="Nokia-6.1-Plus">
        <table class="table">
            <tr><td><a href="https://www.google.com/search?q=nokia+6.1+plus">Nokia-6.1-Plus</a></td></tr>
            <tr><td><p>$137.55</p></td><td><input type="button" value="Buy Now" /></td></tr>
        </table>
    </div>
    <div class="col-md-3 thumbnail divhresize">
        <img class="imghresize" src="~/images/motorola-moto-g8-plus.jpg" alt="Nokia-6.1-Plus">
        <table>
            <tr><td><p>motorola-moto-g8-plus</p></td></tr>
            <tr><td><p>$33.55</p></td><td><input type="button" value="Buy Now"/></td></tr>
        </table>
  
        
    </div>
</div>
